body {
    margin: 0px auto;
    padding: 0;
    width: 80%;
    box-sizing:border-box;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-size: 1.25em;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #2AA0DF;
}
a:hover {
    text-decoration: underline;
    color: #1870A0;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    color:#303030;
    font-size: 1.75em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    color:#606060;
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-bottom: 0px;
}

h4 {
    color:#808080;
    font-size: 1.25em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-bottom: 0px;
}

ul {
    font-size: 1.15em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-top:10px;
}

}
hr {
    color: #D0D0D0;
}
p {
    font-size: 1.2em;
    line-height: 1.25em;
    color: #484848;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: justify;
    margin: 0;
    padding: 0;
}

ul.skills li {
    display: inline;
    margin-right: 60px;
}
p.blurb {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #484848;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: justify;
    margin: 20px;
}

#toc, .toc{
    display:table;
    padding:10px;
    border:1px solid #a2a9b1;
    background-color: #f8f9fa;
    font:90%;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
