<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<center>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/projects">Projects</a></li>
				<li><a href="/resume">Resume</a></li>
				<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			</center>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			<center>
	    		<ul>
	        		<li><a href="mailto:indraneil.bardhan@tuta.io">
					<img src="/images/email.png" alt="email" style="width:42px;height:42px;border:0;">
				</a>
				</li>
	        		<li><a target="_blank" href="https://github.com/NeilBardhan">
					<img src="/images/github.png" alt="github" style="width:42px;height:42px;border:0;">
				</a>
				</li>
				<li><a target="_blank" href="https://www.linkedin.com/in/indraneilbardhan/">
  					<img src="/images/linkedin.png" alt="linkedin" style="width:42px;height:42px;border:0;">
				</a>
				</li> 
			</ul>
			</center>
			</footer>
		</body>
	</html>
